/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
*/

/* Provide sufficient contrast against white background */
/*
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100%;
}*/

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


* {
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;
}

h1 {
    font-size: 3rem
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem
}

.header2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2rem
}

.title {
    width: 700px;
    margin: 45px auto;
}

hr {
    width: 80%;
    margin: auto;
}

.row {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.h2-row{
	width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.form1 {
    float: left;
}

.form2 {
    margin-left: 50%;
}

label {
    font-size: 1em;
    font-weight: 900;
	display: block;
}

input {
    width: 250px;
}

.buttons {
    margin-top: 100px;
}

.first_button {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.files{
	margin-left: auto;
	margin-right: auto;
    width: 700px;
	margin-bottom: 70px;
	margin-top: 30px;
}

.xml_file, .xsd_file, .xsl_file{
	width: 30%;
}

button {
    border-radius: 4px;
    padding: 14px 40px;
    font-size: 14px;
    background-color: #C0C0C0;
}

button:hover {
     background-color: #4CAF50;
     color: white;
 }

